@keyframes wipeDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes wipeUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.light-text {
    color: #2c3e50 !important;
}

.dark-text {
    color: #ecf0f1 !important;
}

.dark-mode {
    background-color: #141f2c;
    color: #ecf0f1;
}