@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.refresh-button:hover {
    transform: scale(1.1);
}

.refresh-button.spinning {
    transform: none !important;
    /* Prevents scaling when spinning */
}

.spinning {
    animation: spin 1s linear infinite;
}